@inherits LayoutComponentBase
@using MudBlazor

<div class="background-container">
    <MudPaper Class="d-flex justify-center align-center"
              Style="height:100vh; background-color:transparent; box-shadow:none;">
        @Body
    </MudPaper>
</div>

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden; /* prevent scrollbars */
    }

    .background-container {
        position: relative;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

        /* Background image with 70% opacity */
        .background-container::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: url('/images/bg_1.png') no-repeat center center;
            background-size: cover;
            opacity: 0.7; /* 70% */
            z-index: -1; /* Push it behind content */
        }

</style>
